/*--------------Adaptive start-------------------*/
@media (max-width: 2160px) {
    
}

@media (max-width:1024px) {
    .header {
        padding: 0 15px;
    }


    

    .advanages__cards {
        height: 800px;
        grid-template-columns: repeat(2,minmax(240px,300px));
    }

}

@media (max-width:940px) {
    .header {
        font-size: 1.3rem;
    }
    .header__menu-item {
        display: none;
        margin: 0;
    }
    .burger-menu {
        display: block;
        margin-left: 1rem;
    }
    .language {
        display: block;
        margin-left: 1rem;
    }
    .adaptive-buttons {
        display: block;
    }
    .header__buttons {
        display: none;
    }
    .fa-bars {
        font-size: 1.7rem;
    }
    .fa-earth-americas {
        font-size: 1.2rem;
    }
    .fa-xmark {
        font-size: 1.7rem;
    }



    .main__block-hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 150px;
    }
    .left-header {
        width: 100%;
        text-align: center;
    }
    .left-body {
        width: 100%;
        text-align: center;
    }




    .block-about-img {
        display: none;
    }
    .main__block-about {
        height: auto;
        margin-bottom: 150px;
    }
    .block-about-text {
        padding-bottom: 3%;
    }
}

@media (max-width:500px) {
    .header__menu-item {
        margin-left: 10px;
    }
    .adaptive-buttons{
        display: none;
    }





    .advanages__cards {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: minmax(230px,330px);
    }
    .advanages__card {
        height: 450px;
    }

}



/*--------------Adaptive end-------------------*/