
@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.container {

}


/*--------------Header start-------------------*/
.header {
    height: 4rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: #ebebeb;
    align-items: center;
    padding: 0 100px;
    justify-content: space-between;
    font-size: 1.3vw;
}
.header__img-block {
    width: 180px;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.header__img-block .header__img-link {
    display: flex;
    align-items: center;
}

.header__img-link span {
    margin-left: 12px;
    font-size: 22px;
}

.header__menu-list {
    display: flex;
    justify-content: center;
    
}
.header__menu-item:first-of-type {
    margin-left: 0;
}

.header__menu-item {
    list-style-type: none;
    margin-left: 20px;
    transition: all 0.2s ease-in;
}

.header__menu-item:hover{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
}

.burger-menu {
    display: none;
}
.header__menu-link {
    text-decoration: none;
    color: #000;
}
.language {
    cursor: pointer;
}
.fa-earth-americas {
    font-size: 1.2vw;
    color:#000;
}
.adaptive-buttons {
    display: none;
}
.header__buttons {
    text-decoration: none;
}
.header__buttons-sign-in {
    text-decoration: none;
    color: #000;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 5px 12px;
    background-color: rgb(255, 255, 255);
}

.header__buttons-sign-in:hover {
    background-color: #000000;
    color: #fff;
}

.header__buttons-sign-up {
    margin-left: 15px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 5px 12px;
    background-color: #000;
} 
.header__buttons-sign-up:hover {
    background-color: #ffffff;
    color: #000000;
}
/*--------------Header end-------------------*/


/*--------------Main start-------------------*/
.main {
    /* width: 80%;
    margin: 0 auto; */
}
.main__block-hero {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 200px;
}

.left-header {
    width: 80%;
    font-size: 1.7vw;
    margin-top: 10%;
    margin-bottom: 5%;    
}
.left-body {
    width: 80%;
    font-size: 1.3vw;
}

.right-img {
    object-fit: cover;
    max-width: 100%;
}




.main__block-about {
    width: 100%;
    margin: 0 auto 200px;
    height: 550px;
    overflow: hidden;
    box-shadow: black;
    background-color: #ebebeb;
}
.block-about-header {
    text-align: center;
    font-size: 2.5vw;
    padding-top: 3%;
    margin-bottom: 3%;
}
.block-about-text {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2vw;
}
.block-about-img {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}
.about-img {
    max-width: 100%;
    object-fit: cover;
}





/*--------------Main end-------------------*/


