@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    
}


/*--------------Header start-------------------*/
.header {
    height: 4rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: #ddd;
    align-items: center;
    padding: 0 100px;
    justify-content: space-between;
    font-size: 1.3vw;
}
.header__img-block {
    width: 173px;
}

.header__img-block .header__img-link {
    display: flex;
    align-items: center;
}

.header__img-link span {
    margin-left: 12px;
    font-size: 22px;
}

.header__menu-list {
    display: flex;
    justify-content: center;
    
}
.header__menu-item:first-of-type {
    margin-left: 0;
}

.header__menu-item {
    list-style-type: none;
    margin-left: 20px;
}

.burger-menu {
    display: none;
}
.header__menu-link {
    text-decoration: none;
    color: #000;
}
.language {
    cursor: pointer;
}
.fa-earth-americas {
    font-size: 1.2vw;
    color:#000;
}
.adaptive-buttons {
    display: none;
}
.header__buttons {
    text-decoration: none;
}
.header__buttons-sign-in {
    text-decoration: none;
    color: rgb(46, 70, 188);
    border: 1px solid rgb(53, 53, 179);
    border-radius: 12px;
    padding: 7px;
    background-color: rgb(255, 255, 255);
}
.header__buttons-sign-up {
    margin-left: 15px;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgb(59, 59, 205);
    border-radius: 12px;
    padding: 7px;
    background-color: rgb(59, 59, 205);
} 
/*--------------Header end-------------------*/


/*--------------Adaptive start-------------------*/
@media (max-width:1024px) {
    .header {
        padding: 0 20px;
        font-size: 1.7vw;
    }

}

@media (max-width:768px) {
    .header {
        font-size: 2.3vw;
    }
    .header__menu-item {
        display: none;
        margin: 0;
    }
    .burger-menu {
        display: block;
        margin-left: 1rem;
    }
    .language {
        display: block;
        margin-left: 1rem;
    }
    .adaptive-buttons {
        display: block;
    }
    .header__buttons {
        display: none;
    }
    .fa-earth-americas {
        font-size: 1.7vw;
    }
}

@media (max-width:480px) {
    .header {
        font-size: 3.4vw;
    }
    .fa-earth-americas {
        font-size: 2.9vw;
        
    }
}
/*--------------Adaptive end-------------------*/